div.mask
  div.modal
    h3.modal__title Пост опубликован.
    p.modal__text Смотрите его эффективность в <a class="modal__link" href="#">статистике</a>
    div.modal__icons
      div.modal__icon
        img(src="images/youtube.svg")
      div.modal__icon
        img(src="images/twitter.svg")
      div.modal__icon
        img(src="images/tik-tok.svg")
      div.modal__icon
        img(src="images/vk.svg")
      div.modal__icon
        img(src="images/p.svg")
      div.modal__icon
        img(src="images/facebook.svg")
    button.button.button_stretchable.button_beautiful Готово