.modal {
	text-align: center;
	width: fit-content;
	max-width: 100%;
	border: 2.56px solid $borderModal;
	padding-top: 3rem;
	background: white;
	border-radius: 10px;
	overflow: auto;
	margin: 0 3rem;

	&__title {
		margin-bottom: 1.4rem;
		font-weight: 700;
		font-size: 3rem;
		line-height: 1.2;
	}

	&__text {
		font-weight: 500;
		font-size: 2rem;
		line-height: 1.2;
		color: $greyTooltip;
	}

	&__text,
	&__icons {
		margin-bottom: calc(3.5rem - 10px);
	}

	&__link {
		border-bottom: 2px solid $greyTooltip;
		color: $greyTooltip;

		&:active {
			background: $greyTooltip;
			color: white;
		}
	}

	&__title,
	&__text,
	&__icons {
		padding: 0 8rem;
	}

	&__icon {
		display: inline-block;
		width: 4.3rem;
		height: 4.3rem;
		margin: 10px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.modal__item {
		margin-bottom: 1.5rem;
	}
}