  .button_green {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: $green;


    &:focus {
      background-color: darken($color: $green, $amount: 5%);
    }

    &:hover {
      background-color: darken($color: $green, $amount: 5%);
      box-shadow: 0 0 0.5rem 0.1rem $green;
    }
  }
