.menu-item {
  padding-left: 2.6rem;

  position: relative;

  &:before {
    content: "";

    width: 1.3rem;
    height: 1.3rem;

    position: absolute;
    left:0;
    top: 50%;
    transform: translateY(-50%);

    background: url("../images/x.svg") no-repeat center;
  }

  &_active > &__link {
    border-bottom: 2px solid $blue;
  }

  &__link {
    padding-bottom: .3rem;

    position: relative;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    color: $darkGrey;
    transition: color .2s linear;

    &:hover {
      color: $blue;
    }
  }

  &__icon {
    width: 1.4rem;
    height: 1.4rem;

    position: absolute;
    bottom: 80%;
    transform: translateX(50%);

    background: url("../images/question.svg") no-repeat center;
    background-size: cover;

    transition: transform 0.3s linear;

    &:hover {
      transform: translateX(50%) rotate(360deg);
    }

    &:hover + .menu-item__tooltip{
      opacity: 1;
      transform:  rotateX(0deg);
    }
  }

  &__tooltip {
    position: absolute;
    z-index: 1;
    transform: rotateX(90deg);

    opacity: 0;

    transition: transform 0.3s linear 0.5s,
                opacity 0.3s linear 0.5s;
  }
}