.calendar {
	height: 100%;
	padding: 1.7rem;
	border: 0.1rem solid #EAEEF5;
	border-radius: 1rem;
	background: white;
	font-size: 1.5rem;
	line-height: 1.8rem;
	font-weight: 700;

	&__radio {
		margin-bottom: 2rem;
	}

	&__radio-item{
		display: flex;
	}

	&__radio-item:first-child {
		margin-bottom: 1.5rem;
	}

	input[type="radio"] {
		flex-shrink: 0;
		margin-right: 1rem;
		width: 2rem;
		height: 2rem;
	}


	.calendar__fields {
		white-space: nowrap;
		max-width: 31rem;
	}

	
	#calendar, #time {
		width: calc(50% - 0.5rem);
		border: 1px solid $lightGrey;
		font-weight: 400;
		font-size: 1.3rem;
		color: $grey;
		font-family: inherit;
		text-align: center;
	}

	#calendar {
		margin-right: 1rem;
	}
}