div.calendar
	div.calendar__radio
		label.calendar__radio-item
			input.js-now(type="radio" name="time" checked value="now")
			span Опубликовать сейчас
		label.calendar__radio-item
			input.js-later(type="radio" name="time" value="later")
			span Запланировать публикацию

	div.calendar__fields
		label(title="Выбирите дату публикации")
			input#calendar(type="text" placeholder="Дата" name="date")
		label(title="Выбирите время публикации")
			input#time(type="text" placeholder="Время" name="time")