@import "src/layouts/layout";
@import "src/blocks/title/title";
@import "src/blocks/button/button";
@import "src/blocks/button/_green";
@import "src/blocks/input/input";


.profile {
	min-height: 100vh;
	padding: 4.2rem 3rem;

	font-size: 1.6rem;
	line-height: 2rem;
	font-weight: 400;
	color: $lightGrey;

	&__title {
		margin-bottom: 3.9rem;
	}

	&__form {
		display: inline-block;
		padding: 2rem;
		background: white;
		box-shadow: 1px 1px 3px 1px $violet;
	}

	&__form-title {
		font-weight: 600;
		border-bottom: 1px solid $violet;
		margin-bottom: 0.5rem;
	}

	&__form-title,
	&__person,
	&__wrap {
		padding: 1rem 0;
	}

	&__person {
		font-weight: 500;
	}

	&__label,
	&__ava {
		margin-right: 1.5rem;
	}


	&__ava {
		display: inline-block;
		width: 50px;
		height: 50px;
		vertical-align: middle;

		img {
			width: 100%;
			border-radius: 50%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__wrap {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
	}

	&__group {
		padding-top: 0.5rem;
		margin-top: 0.5rem;
		border-top: 1px solid $violet;
	}

	.input {
		font-weight: 600;
	}

	#soc,
	#email {
		min-width: 30rem;
	}

	button.button.button_green {
		display: block;
		margin-left: auto;
		margin-top: 1rem;
	}

	.input:focus + &__label {
		font-weight: 500;
	}

	@media (max-width: 430px) {
		&__wrap {
			flex-direction: column-reverse;
			align-items: flex-start;
		}

		&__label {
			padding: 1rem 0;
		}

		#soc,
		#email {
			min-width: 70vw;
		}

		.input {
			width: 100%;
		}

		& {
			padding: 4.2rem 2rem;
		}
	}
}