extends ../../layouts/layout

block variables
	- let title = "Личный кабинет"

block styles
	link(rel="stylesheet" href="css/profile.css")

block scripts
	script(src="js/profile.js" defer)

block content
	div.profile
		h2.title.profile__title Личный кабинет
		main
			form.profile__form
				h3.profile__form-title Профиль
				div.profile__person
					div.profile__ava
						img(src="images/bender.jpg" alt="Аватар")
					span.profile__name Bender
				div.profile__wrap
					input.input#soc
					label.profile__label(for="soc") Ссылка на соцсеть
				div.profile__wrap
					input.input#email(type="email")
					label.profile__label(for="email") Почта
				div.profile__group
					div.profile__wrap
						input.input#old-pswd(type="password" minlength="8")
						label.profile__label(for="old-pswd") Старый пароль
					div.profile__wrap
						input.input#new-pswd(type="password" minlength="8")
						label.profile__label(for="new-pswd") Новый пароль
					div.profile__wrap
						input.input#repeat(type="password" minlength="8")
						label.profile__label(for="repeat") Повторите пароль
					button.button.button_green Сохранить

