.modal-item {
	display: flex;
	margin: 0 3rem;

	.input {
		flex: 1;
		height: auto;
		border-right: none;
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 1.2;
		color: $lightGrey2;
		width: 70%;

		&:focus {
			outline-offset: -3px;
		}
	}
}