mixin card(icon = "", post = "", files= [], alt = "")
	article.card
		header.card__top
			div.card__logo
				img.card__img(src= icon alt= alt)
			span.card__accaunt Мой аккаунт
			button.card__btn Отменить изменения
		div.card__middle
			span.card__counter
			div.card__slider
				each item in files
					div.card__slide
						img.card__img(src= item alt="")
		p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt