$blue: #1543E7;
$green: #08eb2b;
$white: #fff;
$darkGrey: #333333;
$lightGrey2: #898787;
$grey: #4E4E4E;
$lightGrey: #8E8E8E;
$greyTooltip: #3D3D3D;
$greyBorder: #C4C4C4;
$colorBg: #EAEAEA;
$red: #941212;
$violet: #6b5b95;
$bgCounter: #494950;
$borderModal: #EAEEF5;
