mixin status-panel(status = "initial")
	if status === "initial"
		div.status-panel
			div.status-panel__icon
				span.status-panel__circle-one
				span.status-panel__line
				span.status-panel__circle-two
			button.button.button_beautiful.status-panel__next Далее
	
	else if status === "final"
		div.status-panel.status-panel_final
			button.status-panel__btn.button.button_ugly Назад
			div.status-panel__icon
				span.status-panel__circle-one
				span.status-panel__line
				span.status-panel__circle-two
			button.button.button_beautiful.status-panel__public(form="post") Опубликовать