.status-panel {
	min-width: max-content;
	background: white;
	box-shadow: 0px -2px 0px 0px #DDDCDF;
	padding: 1.5rem 3rem ;
	border-radius: 0.8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&::before {
		content: "";
		width: 8.757rem;
		visibility: hidden;
	}

	&_final::before {
		display: none;
	}

	&_final {
		.status-panel__circle-one {
			background: #C0BABA content-box;
			border-color: #C0BABA;
		}

		.status-panel__circle-one::before {
			color: #C0BABA;
		}

		.status-panel__line {
			background: $blue;
		}

		.status-panel__circle-two {
			background: $blue content-box;
			border-color: $blue;
		}

		.status-panel__circle-two::before {
			color: $blue;
		}
	}

	&__btn.button {
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1.8rem;
		text-decoration: none;
		color: $darkGrey;
	}

	&__icon {
		height: 2rem;
		max-width: 14.6rem;
		min-width: 7rem;
		position: relative;
		flex-grow:1;
		margin: 0 auto;
		align-self: flex-end;
	}

	&__line {
		display: inline-block;
		max-width: 10.6rem;
		margin-bottom: 0.95rem;
		width: calc(100% - 4rem);
		height: 0.2rem;
		background: #C0BABA;
	}

	&__circle-one, 
	&__circle-two {
		display: inline-block;
		width: 2rem;
		height: 2rem;
		padding:  3px;
		border-radius: 50%;
		border: 0.1rem solid;
	}

	&__circle-one {
		background: $blue content-box;
		border-color: $blue;
	}

	&__circle-two {
		background: #C0BABA content-box;
		border-color: #C0BABA;
	}

	&__circle-one::before,
	&__circle-two::before {
		position: absolute;
		bottom: 100%;
	}

	&__circle-one::before {
		content: "Информация";	
		left: 0;
		transform: translate(calc(-50% + 1rem), -50%);
		color: $blue;
	}

	&__circle-two::before {
		content: "Проверка";
		right: 0;
		transform: translate(calc(50% - 1rem), -50%);
		color: #C0BABA;
	}

	

	@media (max-width: 450px) {
		& {
			padding: 1.5rem;
		}

		&::before {
			margin-right: 5rem; 
		}

		.status-panel__next {
			margin-left: 5rem;
		}

		&_final {		
			.status-panel__icon {
				align-self: inherit;
			}

			.status-panel__circle-one::before,
			.status-panel__circle-two::before {
				content: "";
			}

			.status-panel__public {
				margin-left: 3.3rem;
				padding: 0.7rem;
			}

			.status-panel__btn {
				margin-right: 3.3rem;
			}
		}
	}

	@media (max-width: 350px) {
		&::before {
			display: none;
		}
	}
}