include ../../blocks/custom-btn/custom-btn.pug

ul.social-network-list
  li.social-network-list__item
    +custom-btn("true")(class="custom-btn__img_inst" name="network" value="instagram" form="post")
  li.social-network-list__item
    +custom-btn("true")(class="custom-btn__img_vk", name="network" value="vk" form="post")
  li.social-network-list__item
    +custom-btn("true")(class="custom-btn__img_ytb", name="network" value="youtube" form="post")
  li.social-network-list__item
    +custom-btn(class="custom-btn__img_twt", name="network" value="twitter" form="post")
  li.social-network-list__item
    +custom-btn(class="custom-btn__img_fb", name="network" value="facebook" form="post")
  li.social-network-list__item
    +custom-btn("true")(class="custom-btn__img_tik-tok", name="network" value="tik-tok" form="post")
  li.social-network-list__item
    +custom-btn(class="custom-btn__img_tg", name="network" value="telegram" form="post")
  li.social-network-list__item
    +custom-btn(class="custom-btn__img_p", name="network" value="p" form="post")
