.social-network-list {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border: 0.2rem solid #EAEEF5;
  border-radius: 1rem;
  user-select: none;
  background: white;
  overflow: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .social-network-list__item:not(.social-network-list__item:last-child) {
    margin-right: 1.5rem;
  }

  @media (max-width: 550px) {
    justify-content: normal;
  }
}