.social-btn {
	position: relative;
	width: 5rem;
	height: 5rem;
	transition: transform .2s linear;

	&_no-added::after {
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translate(25%, 25%);
		width: 16px;
		height: 16px;

		border-radius: 50%;
		background: $darkGrey url("../images/+.svg") no-repeat center;
		transition: background-color 0.2s linear, box-shadow 0.2s linear;
	}

	&_fb {
		background: url("../images/facebook.svg") no-repeat center;
		background-size: contain;
	}

	&_inst {
		background: url("../images/instagram.svg") no-repeat center;
		background-size: contain;
	}

	&_tg {
		background: url("../images/telegram.svg") no-repeat center;
		background-size: contain;
	}

	&_vk {
		background: url("../images/vk.svg") no-repeat center;
		background-size: contain;
	}

	&_p {
		background: url("../images/p.svg") no-repeat center;
		background-size: contain;
	}

	&_ytb {
		background: url("../images/youtube.svg") no-repeat center;
		background-size: contain;
	}

	&_twt {
		background: url("../images/twitter.svg") no-repeat center;
		background-size: contain;
	}

	&_tik-tok {
		background: url("../images/tik-tok.svg") no-repeat center;
		background-size: contain;
	}

	&:focus {
		outline: 2px dotted black;
    outline-offset: 1px;
	}

	&:hover {
		transform: scale(1.1);
	}

	&:active {
		transform: scale(0.9);
	}
}
