extends ../../layouts/layout

block variables
  - let title = "Тарифы"

block scripts
  script(src="tariffs.js" defer)

block styles
  link(rel="stylesheet", href="tariffs.css")

block mixins
  include ../../blocks/radio-btn/radio-btn

block content
  div.tariffs
    h2.title.tariffs__title Тарифы
    main
      form.tariffs__form
        div.tariffs__periods
          h3.tariffs__periods-title Период оплаты
          div.tariffs__btns
            +radio-btn("За месяц", "period", "1 месяц", true)
            +radio-btn("За 3 месяца", "period", "3 месяца")
            +radio-btn("За 6 месяцев", "period", "6 месяцев")
            +radio-btn("За год", "period", "год")
        div.tariffs__wrap
          div.tariffs__wrap-inner
            table
              thead
                tr
                  th #
                  th Пункт 1
                  th Пункт 2
                  th Пункт 3
                  th Пункт 4
                  th Пункт 5
              tbody
                tr
                  td Тариф 1
                  td +
                  td +
                  td -
                  td -
                  td -
                  td 3900 рублей в месяц
                  td 
                    button.button.button_beautiful Оплатить
                tr
                  td Тариф 2
                  td +
                  td +
                  td +
                  td -
                  td -
                  td 5900 рублей в месяц
                  td 
                    button.button.button_beautiful Оплатить
                tr
                  td Тариф 3
                  td +
                  td +
                  td +
                  td +
                  td +
                  td 6900 рублей в месяц
                  td 
                    button.button.button_beautiful Оплатить