doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="preload" href="images/travolta.gif" as="image")
    title 404 Page not found

    style.
      body {
        margin: 0;
        height: 100vh;
        background: rgb(34,193,195);
        background: url("images/travolta.gif") no-repeat 40% 40%  / cover, linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
      }
  body