extends layouts/layout

block styles
  link(rel="stylesheet" href="css/index.css")

block variables
  - let title = "Uniblog"
  - let name = "Друг"

block scripts
  script(src="js/vendors-node_modules_chart_js_auto_auto_esm_js.js")
  script(src="js/index.js" defer)

block mixins
  include blocks/custom-btn/custom-btn

block content
  .uniblog
    header.uniblog__header
      .uniblog__hello= name ? "Привет, " + name + "!" : "Привет,Имя!"
      a.button.button_beautiful.button_plus(href="crossposting.html")  Добавить новый пост

    main
      .uniblog__top
        .uniblog__statistic
          header.uniblog__header-stat
            h3.uniblog__title Мои соцсети
            select.uniblog__periods(name="period" aria-label="Выбирите период")
              option.uniblog__period(value="day") День 
              option.uniblog__period(selected value="week") Неделя 
              option.uniblog__period(value="month") Месяц 
              option.uniblog__period(value="year") Год 

          .uniblog__wrap
            .uniblog__info
              .uniblog__resume
                .uniblog__indicator Охват
                .uniblog__value 50k
              .uniblog__resume
                .uniblog__indicator Подписчики
                .uniblog__value +2k
              .uniblog__resume
                .uniblog__indicator Лайки
                .uniblog__value 20k
            div.uniblog__chart 
              canvas#chart
        

        .uniblog__socials
          h3.uniblog__title Мои соцсети
          ul.uniblog__list
            li.uniblog__list-item
              button.social-btn.social-btn_inst(type="button" aria-label="Добавить/удалить соцсеть instagram" name="instagram")

            li.uniblog__list-item
              button.social-btn.social-btn_vk(type="button" aria-label="Добавить/удалить соцсеть vkontakte" name="vkontakte")

            li.uniblog__list-item
              button.social-btn.social-btn_ytb(type="button" aria-label="Добавить/удалить соцсеть youtube" name="youtube")

            li.uniblog__list-item
              button.social-btn.social-btn_twt(type="button" aria-label="Добавить/удалить соцсеть twitter" name="twitter")

            li.uniblog__list-item
              button.social-btn.social-btn_fb(type="button" aria-label="Добавить/удалить соцсеть facebook" name="facebook")

            li.uniblog__list-item
              button.social-btn.social-btn_no-added.social-btn_tik-tok(type="button" aria-label="Добавить/удалить соцсеть tik-tok" name="tik-tok")

            li.uniblog__list-item
              button.social-btn.social-btn_no-added.social-btn_tg(type="button" aria-label="Добавить/удалить соцсеть telegram" name="telegram")

            li.uniblog__list-item
              button.social-btn.social-btn_no-added.social-btn_p(type="button" aria-label="Добавить/удалить соцсеть pinterest" name="pinterest")


      .uniblog__bottom
        .uniblog__card
          .uniblog__icon
          span.uniblog__text Общий охват за сегодня
          span.uniblog__number 24,422,861
        .uniblog__card
          .uniblog__btns
            a.button.button_beautiful.button_whatsapp(href="#") WhatsApp
            a.button.button_beautiful.button_viber(href="#") Viber
            a.button.button_beautiful.button_vk(href="#") Vkontakte
            a.button.button_beautiful.button_twitter(href="#") Twitter
            a.button.button_beautiful.button_telegram(href="#") Telegram
            a.button.button_beautiful.button_instagram(href="#") Instagram
            a.button.button_beautiful.button_call(href="#") Позвонить
            a.button.button_beautiful.button_email(href="#") Написать email

          .uniblog__right
            span.uniblog__text Посетителей сайта
            span.uniblog__number 1,000
        .uniblog__card
          .uniblog__icon.uniblog__icon_trend
          a(href="#").uniblog__text.uniblog__text_link Узнайте, что находится в тренде сегодня
    footer.uniblog__footer
      ul.uniblog__list
        li.uniblog__list-item
          a.uniblog__link(href="404.html") Контакты
        li.uniblog__list-item
          a.uniblog__link(href="404.html") Блог
        li.uniblog__list-item
          a.uniblog__link(href="404.html") Политика конфиденциальности
        li.uniblog__list-item © 2022 UNIBLOG. All Rights Reserved

